# Byte-compiled / optimized / DLL files
__pycache__/
node_modules/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

.cache/
.molecule
.kitchen
.tfstate
.backup
.terraform

.DS_Store
.idea/
roles/
data/
.ansible/
*.retry
*.iml
*.ipr
*.iws
atlassian-ide-plugin.xml
package-lock.json
